<!DOCTYPE html>
<html lang="de">

    <head>
        <title>Mein Baby <3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/libs/splide.min.css" rel="stylesheet">
        <link href="/assets/css/compiled.css" rel="stylesheet">
    </head>

    <body>

        <div class="caro-flower-container">
            <div class="caro-flower-intro">
                <h1 class="typewriter">Hey Süße ❤️</h1>
            </div>

            <div class="caro-flower">
                <img src="https://i.pinimg.com/736x/71/44/b8/7144b8447875c5a81460b4bec70657cf.jpg">

                <div class="caro-flower-textcontainer">
                    <h3>Gibt es eine schönere Frau? ❤️</h3>
                    <button class="yes-btn">Nein</button>
                    <button class="no-btn">Nein</button>
                </div>
            </div>
        </div>
    </body>

    <!-- AnimeJS -->
    <script src="/assets/js/libs/anime.min.js"></script>
    <!-- FontAwesome -->
    <script defer src="/assets/js/libs/fontawesome.min.js"></script>
    <script defer src="/assets/js/libs/all.min.js"></script>
    <!-- Splide (Slider) -->
    <script src="/assets/js/libs/splide.min.js"></script>
    <!-- Own JS -->
    <script type="module" src="/assets/js/typewriter.js"></script>
    <script src="/assets/js/caro.js"></script>
</html>