<!DOCTYPE html>
<html lang="de">

    <head>
        <title>Manuel Neumayer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/splide.min.css" rel="stylesheet">
        <link href="/assets/css/compiled.css" rel="stylesheet">
    </head>

    <body>
        <div class="content">
            <div class="container">
                <!-- HEADER -->
                <header>
                    <div class="mobile-nav-toggler">
                        <div class="mobile-nav-line first"></div>
                        <div class="mobile-nav-line second"></div>
                    </div>

                    <nav>
                        <ul>
                            <li class="active-nav-item"><a href="/">Home</a></li>
                            <li><a href="/blog">Mein Blog</a></li>
                        </ul>
                    </nav>

                    <div class="header-content">
                        <h1>MANUEL NEUMAYER<span class="highlighted">.</span></h1>
                        <p><span class="highlighted">CS Student</span> in München.</p>
                    </div>

                    <div class="scroll-down-indicator"><span></span><span></span><span></span></div>
                </header>

                <!-- INTRO SECTION -->
                <section class="intro-section">
                    <div class="intro-wrapper">
                        <div class="intro-heading">
                            <h1 class="typewriter">Hey!</h1>
                            <h3 class="typewriter">Herzlich Willkommen auf meiner persönlichen Website.</h3>
                        </div>
                    
                        <div class="intro-content">
                            <p>Ich heiße <span class="highlighted">Manuel Neumayer</span> und komme aus der Nähe von München. Nachdem ich anfing, mir das Programmieren selbst beizubringen, habe ich beschlossen, Informatik an der Universität in München zu studieren.</p> 
                            <br>
                            <p>Seitdem arbeite in München als Werkstudent in der Softwareentwicklung. Meine Interessensgebiete liegen vor allem in folgenden Bereichen:</p>
    
                            <ul class="interests-list">
                                <li>Softwareprogrammierung</li>
                                <li>DevOps</li>
                                <li>Internet of Things (IoT)</li>
                            </ul>
                        </div>
                    </div>
                </section>

                <!-- CV SECTION -->
                <section class="cv-section">
                    <div class="personal-image">
                        <img src="/assets/img/me-min.jpg" alt="My personal image">
                    </div>

                    <div class="main-heading">
                        <span>Ü b e r  m i c h</span>
                        <h1>Lebenslauf.</h1>
                    </div>

                    <div class="contact">
                        <p>Sie möchten mich kontaktieren?</p>
                        <p>Schreiben Sie gerne <span class="highlighted">eine Email.</span></p>
                        <a class="contact-btn" href="mailto:kontakt@manuelneumayer.com">Kontaktieren</a>
                    </div>

                    <div class="timeline">
                        <div class="timeline-item right">
                            <div class="timeline-item-content">
                                <div class="item-icon-container">
                                    <i class="fas fa-briefcase"></i>
                                </div>
                                <span class="timestamp">2020 - Heute</span>
                                <h1 class="item-title typewriter">Werkstudent in der Softwareentwicklung</h1>
                                <h3 class="item-location">FaktorZehn GmbH, München</h3>
                            </div>
                        </div>
                    
                        <div class="timeline-item left">
                            <div class="timeline-item-content">
                                <div class="item-icon-container">
                                    <i class="fas fa-graduation-cap"></i>
                                </div>
                                <span class="timestamp">2018 - Heute</span>
                                <h1 class="item-title typewriter">Studium der Informatik und Computerlinguistik</h1>
                                <h3 class="item-location">Ludwig-Maximilians-Universität, München</h3>
                            </div>
                        </div>
                    
                        <div class="timeline-item right">
                            <div class="timeline-item-content">
                                <div class="item-icon-container">
                                    <i class="fas fa-graduation-cap"></i>
                                </div>
                                <span class="timestamp">2016 - 2018</span>
                                <h1 class="item-title typewriter">Allgemeine Hochschulreife</h1>
                                <h3 class="item-location">Fachoberschule, Bad Tölz</h3>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- TECHNOLOGIES SECTION -->
            <section class="tech-section">
                <div class="container">
                    <div class="main-heading">
                        <span>Ü b e r  m i c h</span>
                        <h1>Programmiersprachen & andere Technologien.</h1>
                    </div>

                    <div class="splide">
                        <div class="splide__track">
                              <ul class="splide__list tech-list">
                                  <li class="splide__slide tech-item html"></li>
                                  <li class="splide__slide tech-item css"></li>
                                  <li class="splide__slide tech-item javascript"></li>
                                  <li class="splide__slide tech-item java"></li>
                                  <li class="splide__slide tech-item python"></li>
                                  <li class="splide__slide tech-item docker"></li>
                                  <li class="splide__slide tech-item nodejs"></li>
                              </ul>
                        </div>
                      </div>
                </div>
            </section>

            <!-- BLOG SECTION -->
            <section class="blog-section">
                <div class="container">
                    <div class="main-heading">
                        <span>B l o g</span>
                        <h1>Neueste Blogposts.</h1>
                    </div>
                </div>
            </section>
        </div>
    </body>

    <!-- FontAwesome -->
    <script defer src="/assets/js/libs/fontawesome.min.js"></script>
    <script defer src="/assets/js/libs/all.min.js"></script>
    <!-- Splide (Slider) -->
    <script src="/assets/js/libs/splide.min.js"></script>
    <!-- Own JS -->
    <script src="/assets/js/image-slider.js"></script>
    <script type="module" src="/assets/js/typewriter.js"></script>
    <script src="/assets/js/mobile-nav.js"></script>
</html>