<!DOCTYPE html>
<html lang="de">

    <head>
        <title>Manuel Neumayer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/libs/splide.min.css" rel="stylesheet">
        <link href="/assets/css/compiled.css" rel="stylesheet">
    </head>

    <body>
        <div class="content">
            <div class="container">
                <!-- HEADER -->
                <header>
                    <div class="mobile-nav-toggler">
                        <div class="mobile-nav-line first"></div>
                        <div class="mobile-nav-line second"></div>
                    </div>

                    <nav>
                        <ul>
                            <li class="active-nav-item"><a href="/">Home</a></li>
                            <li><a href="/blog">Mein Blog</a></li>
                        </ul>
                    </nav>

                    <div class="header-content">
                        <h1>MANUEL NEUMAYER<span class="highlighted">.</span></h1>
                        <p><span class="highlighted">IT-Student</span> in München.</p>
                    </div>

                    <div class="scroll-down-indicator"><span></span><span></span><span></span></div>
                </header>

                <!-- INTRO SECTION -->
                <section class="intro-section">
                    <div class="intro-wrapper">
                        <div class="intro-heading">
                            <h1 class="typewriter">Hey!</h1>
                            <h3 class="typewriter">Herzlich Willkommen auf meiner persönlichen Website.</h3>
                        </div>
                    
                        <div class="intro-content">
                            <p>Ich heiße <span class="highlighted">Manuel Neumayer</span> und komme aus der Nähe von München. Nachdem ich anfing, mir das Programmieren selbst beizubringen, habe ich beschlossen, Informatik an der Universität in München zu studieren.</p> 
                            <br>
                            <p>Seitdem arbeite ich in München als Werkstudent in der Softwareentwicklung.</p>
                            <p>Meine Interessen liegen vor allem in folgenden Bereichen:</p>
    
                            <ul class="interests-list">
                                <li>Softwareprogrammierung</li>
                                <li>DevOps</li>
                                <li>Internet of Things</li>
                            </ul>
                        </div>
                    </div>
                </section>

                <!-- CV SECTION -->
                <section class="cv-section">
                    <div class="personal-image">
                        <img src="/assets/img/me-min.jpg" alt="My personal image">
                    </div>

                    <div class="main-heading">
                        <span>Über mich</span>
                        <h1>Lebenslauf.</h1>
                    </div>

                    <div class="contact">
                        <h3>Sie möchten mich kontaktieren?</h3>
                        <p>Schreiben Sie gerne <span class="highlighted">eine Email.</span></p>
                        <a class="contact-btn" href="mailto:kontakt@manuelneumayer.com">Kontaktieren</a>
                    </div>

                    <div class="timeline">
                        <div class="timeline-item right">
                            <div class="timeline-item-content">
                                <div class="item-icon-container">
                                    <i class="fas fa-briefcase"></i>
                                </div>
                                <span class="timestamp">2020 - Heute</span>
                                <h1 class="item-title typewriter">Werkstudent in der Softwareentwicklung</h1>
                                <h3 class="item-location"><i class="fas fa-map-marker-alt"></i> Faktor Zehn GmbH, München</h3>
                            </div>
                        </div>
                    
                        <div class="timeline-item left">
                            <div class="timeline-item-content">
                                <div class="item-icon-container">
                                    <i class="fas fa-graduation-cap"></i>
                                </div>
                                <span class="timestamp">2018 - Heute</span>
                                <h1 class="item-title typewriter">Studium der Informatik und Computerlinguistik</h1>
                                <h3 class="item-location"><i class="fas fa-map-marker-alt"></i>Ludwig-Maximilians-Universität, München</h3>
                            </div>
                        </div>
                    
                        <div class="timeline-item right">
                            <div class="timeline-item-content">
                                <div class="item-icon-container">
                                    <i class="fas fa-graduation-cap"></i>
                                </div>
                                <span class="timestamp">2016 - 2018</span>
                                <h1 class="item-title typewriter">Allgemeine Hochschulreife</h1>
                                <h3 class="item-location"><i class="fas fa-map-marker-alt"></i>Fachoberschule, Bad Tölz</h3>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- TECHNOLOGIES SECTION -->
            <section class="tech-section">
                <div class="container">
                    <div class="main-heading">
                        <span>Über mich</span>
                        <h1>Programmiersprachen & andere Technologien.</h1>
                    </div>

                    <div class="splide">
                        <div class="splide__track">
                              <ul class="splide__list tech-list">
                                  <li class="splide__slide tech-item"><img src="/assets/img/HTML5.svg" alt="HTML5"></li>
                                  <li class="splide__slide tech-item"><img src="/assets/img/CSS3.svg" alt="CSS3"></li>
                                  <li class="splide__slide tech-item"><img src="/assets/img/JavaScript.svg" alt="JavaScript"></li>
                                  <li class="splide__slide tech-item"><img src="/assets/img/nodejs.svg" alt="NodeJS"></li>
                                  <li class="splide__slide tech-item"><img src="/assets/img/Java.svg" alt="Java"></li>
                                  <li class="splide__slide tech-item"><img src="/assets/img/Python.svg" alt="Java"></li>
                                  <li class="splide__slide tech-item"><img src="/assets/img/docker.svg" alt="Docker"></li>
                              </ul>
                        </div>
                      </div>
                </div>
            </section>

            <!-- BLOG SECTION -->
            <section class="blog-section">
                <div class="container">
                    <div class="main-heading">
                        <span>Blog</span>
                        <h1>Neueste Blogposts.</h1>
                    </div>

                    <div class="blog">
                        <!-- <h1 style="color: #888;"><i class="fas fa-wrench" style="margin-right: 10px;"></i>Noch keine Artikel vorhanden.</h1> -->
                        <div class="blog-item">
                            <div class="blog-item-img"></div>
                            <div class="blog-item-content">
                                <span class="blog-tag">DevOps</span>
                                <h1>Das ist eine Überschrift.</h1>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur</p>
                                <a class="read-more-btn" href="#"><i class="fas fa-chevron-right"></i>Mehr lesen</a>
                            </div>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-img"></div>
                            <div class="blog-item-content">
                                <span class="blog-tag">DevOps</span>
                                <h1>Das ist eine Überschrift.</h1>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur</p>
                                <a class="read-more-btn" href="#"><i class="fas fa-chevron-right"></i>Mehr lesen</a>
                            </div>
                        </div>

                        <div class="blog-item">
                            <div class="blog-item-img"></div>
                            <div class="blog-item-content">
                                <span class="blog-tag">DevOps</span>
                                <h1>Das ist eine Überschrift.</h1>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur</p>
                                <a class="read-more-btn" href="#"><i class="fas fa-chevron-right"></i>Mehr lesen</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <footer>
            <div class="footer-socials">
                <a href="https://github.com/Manu10744"><i class="fab fa-github fa-lg"></i></a>
                <a href="https://www.linkedin.com/in/manuel-neumayer/"><i class="fab fa-linkedin fa-lg"></i></a>
                <a href="https://www.xing.com/profile/Manuel_Neumayer5/cv"><i class="fab fa-xing fa-lg"></i></a>
                <a href="https://stackoverflow.com/users/11356914/manu?tab=profile"><i class="fab fa-stack-overflow fa-lg"></i></a>
            </div>

            <hr class="footer-seperator">
        
            <div class="footer-information">
                <p>Copyright © 2021 Manuel Neumayer.</p>
                <!-- <a href="#">Impressum</a> -->
            </div>
        </footer>
    </body>

    <!-- AnimeJS -->
    <script src="/assets/js/libs/anime.min.js"></script>
    <!-- FontAwesome -->
    <script defer src="/assets/js/libs/fontawesome.min.js"></script>
    <script defer src="/assets/js/libs/all.min.js"></script>
    <!-- Splide (Slider) -->
    <script src="/assets/js/libs/splide.min.js"></script>
    <!-- Own JS -->
    <script src="/assets/js/image-slider.js"></script>
    <script type="module" src="/assets/js/typewriter.js"></script>
    <script src="/assets/js/mobile-nav.js"></script>
</html>