/* GLOBAL SCSS VARIALBES */
$white             : #FFFFFF;
$dark-white        : #FCFCFC;

$light-gray        : #F4F4F4;
$gray              : #E5E5E5;
$dark-gray         : #797979;

$cyan              : #00DED1;
$dark-cyan         : #013734;

$beige             : #C1CE9B;

$black             : #0E0E0E;
$light-black       : #333333;