@import 'utility/variables';

/** MOBILE STYLES FIRST **/
header {
    height: 400px;
    width: 100%;
    background-image: url("/assets/img/welcome-bg-min.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 20px 0 20px;
    position: relative;

    .header-content {
        max-width: 300px;
        
        h1 {
            color: $white;
            font-family: "Chivo";
            position: relative;
            font-size: 2.5em;
            line-height: 1em;
        }

        h1::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 30px;
            background: $cyan;
            top: calc(100% + 10px);
            left: -10px;
        }

        p {
            color: $white;
            font-weight: bold;
            margin-top: 30px;

            span { font-weight: bold; }
        }
    }
}

.intro-section {
    min-height: 300px;
    width: 100%;
    background: $dark-white;
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px; // Unteres Padding für das CV-Bild

    .intro-wrapper {
        .intro-heading {
            max-width: 300px;

            h1 {
                font-size: 2em;
                margin-bottom: 5px;
                background: $black;
                color: $white;
                padding: 5px 10px;
                display: inline-block;
            }

            h3 { margin-bottom: 20px; }
        }

        .intro-content {
            max-width: 600px;

            .interests-list {
                margin-top: 5px;
                text-transform: uppercase;
    
                li {
                    position: relative;
                    display: block;
                    font-weight: bold;
                    font-size: 0.75em;
                }
            }
        }
    }
}

.cv-section { 
    padding-top: 130px; // Oberes Padding für das CV-Bild
    padding-bottom: 100px; 
    position: relative;

    .personal-image {
        height: 150px;
        width: 150px;
        z-index: 1;
        margin-bottom: 50px;
        position: absolute;
        top: 0;
        right: 75px;
        transform: translateY(-50%);
        
        img {
            max-width: 100%;
            max-height: 100%;
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
            border: 3px solid $gray;
        }
    }

    .personal-image::before {
        content: '';
        height: 100%;
        width: 100%;
        background: url("/assets/img/points-decorator.png");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        transform: translate(30%, 30%);
        z-index: -1;
    }

    .contact {
        position: relative; // Notwendig, um das ::after Element des .contact-btn zu platzieren.
        z-index: 1; // Notwendig, um das ::after Element des .contact-btn zu platzieren.

        h3 { margin-bottom: 5px; }
        
        .contact-btn {
            padding: 8px 15px;
            margin: 15px 0;
            border: 2px solid $black;
            display: inline-block;
            font-weight: bold;
            color: $black;
            font-size: 0.75em;
            background: $white;
            transition: background-color 0.3s ease-in-out;
            position: relative;
        }

        .contact-btn:hover {
            background: $black;
            color: $white;
        }

        .contact-btn::after {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            top: 5px;
            left: 5px;
            background: $black;
            z-index: -1;
        }
    }

    .timeline {
        position: relative;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;

        .timeline-item {
            width: 100%;
            position: relative;
            left: 0;
            margin-top: 40px;
            padding-left: 40px;

            .timeline-item-content {
                max-width: 500px;
                padding: 20px; 
                background: $dark-white;
                border: 1px solid $gray;
                position: relative;

                .item-icon-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $white;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    position: absolute;
                    top: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                    box-shadow: 0px -4px 4px rgba(0,0,0,0.1);
                }
    
                .timestamp {
                    display: inline-block;
                    background: $light-black;
                    color: $white;
                    font-weight: bold;
                    padding: 5px 10px;
                    margin-top: 10px;
                    margin-bottom: 5px;
                    font-size: 0.75em;
                }
    
                .item-title {
                    font-size: 1em;
                    color: $black;
                    margin-bottom: 10px;
                }
    
                .item-location {
                    font-size: 0.9em;
                    color: $black;
                    font-weight: 400;
                    margin-top: 5px;

                    svg {
                        margin-right: 10px;
                    }
                }
            }

            // Circle indicator on the timeline
            .timeline-item-content::before {
                content: '';
                height: 20px;
                width: 20px;
                position: absolute;
                top: 50%;
                left: -52px;
                border-radius: 50%;
                border: 2px solid $black;
                transform: translateY(-50%);
                background: $gray;
            }

            // Arrow indicator pointing to circle
            .timeline-item-content::after {
                content: '';
                position: absolute;
                top: 50%;
                left: -12px;
                transform: translateY(-50%);
                border: medium solid $gray;
                border-width: 12px 12px 12px 0;
                border-color: transparent $black transparent transparent;
            }
        }
    }

    // Timeline
    .timeline::before {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        width: 2px;
        background: $black;
    }
 }

 .tech-section {
     background: $black;
     position: relative;

     .main-heading {
         max-width: 500px;
         span,h1 { color: $white; 
        }

        h1::before, h1::after { background: $beige; }
    }

    .splide {  
        margin: 0 auto;
        
        .tech-list {
            .tech-item {
                display: flex;
                justify-content: center;
                height: 70px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(100%);

                img { margin: 0 auto; }
            }

            .html { background-image: url('/assets/img/HTML5.svg'); }
            .css { background-image: url('/assets/img/CSS3.svg'); }
            .javascript { background-image: url('/assets/img/JavaScript.svg'); }
            .java { background-image: url('/assets/img/Java.svg'); }
            .python { background-image: url('/assets/img/Python.svg'); }
            .nodejs { background-image: url('/assets/img/nodejs.svg'); }
            .docker { background-image: url('/assets/img/docker.svg'); }
        }

        .splide__pagination {
            bottom: -50px;

            button { background: $beige; }
        }

        .prev-slide-btn { left: -15px; background: $beige; }
        .next-slide-btn { right: -15px; background: $beige; }
    }
 }

 .tech-section::before {
     content: '';
     position: absolute;
     height: 18px;
     width: 50%;
     top: -18px;
     left: 0;
     background: $dark-gray;
 }

 .tech-section::after {
    content: '';
    position: absolute;
    height: 18px;
    width: 80%;
    bottom: -18px;
    right: 0;
    background: $dark-gray;
}

.blog-section {
    .blog {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .blog-item {
            width: 100%;
            max-width: 400px;
            border: 1px solid $gray;
            margin: 20px auto;

            .blog-item-img {
                min-height: 250px;
                width: auto;
                background: $black;
            }

            .blog-item-content {
                padding: 20px 20px;

                .blog-tag {
                    padding: 5px 10px;
                    background: $beige;
                    font-size: 0.7em;
                    font-weight: bold;
                    margin-bottom: 10px;
                    display: inline-block;
                }
                
                h1 { font-size: 1em; margin-bottom: 5px; }
                p { font-size: 0.875em; }

                .read-more-btn {
                    margin-top: 20px;
                    font-weight: bold;
                    color: $cyan;
                    display: block;
                    display: flex;
                    transition: color 0.3s ease-in-out;
                    
                    svg { margin-right: 10px; }
                }

                .read-more-btn:hover {
                    color: $dark-cyan;
                }
            }
        }
    }
}

 /** MEDIA QUERIES **/
@media (min-width: 480px) {
    header {
        padding-left: 50px;
        padding-right: 50px;

        .header-content h1 { font-size: 2.25em; }
    }

    .cv-section .timeline .timeline-item .timeline-item-content {
        .item-title {
            font-size: 1.25em;
        }

        .item-location {
            font-size: 1em;
        }
    }
}

@media (min-width: 768px) {
    header {
        .header-content {
            margin: 50px 0;
        }
    }

    .intro-section .intro-wrapper .intro-content .interests-list {
        li:first-child { margin-right: 15px; }

        li:nth-child(n+2) {
            margin: 0 15px;
        }

        li:nth-child(n+2)::before  {
            content: '';
            width: 20px;
            height: 2px;
            background: $cyan;
            position: absolute;
            top: 50%;
            left: -27px;
        }
    }

    .intro-section::before {
        content: '';
        position: absolute;
        height: 100px;
        width: 100px;
        left: 75px;
        bottom: -50px;
        background: url('/assets/img/points-decorator.png');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 9;
    }

    .cv-section {
        padding-top: 100px;

        .personal-image {
            height: 175px;
            width: 175px;
        }

        .contact .contact-btn { font-size: 0.9em; }

        .timeline {
            margin-top: 0;

            .timeline-item { 
                width: 50%; 
                max-width: none; 
                margin-top: 0px;
            }
    
            .left {
                left: 0;
                padding: 0 40px 0 0;
            }
    
            .right {
                left: 50%;
            }
    
            /* Circle indicator */
            .left .timeline-item-content::before {
                left: auto;
                right: -53px;
            }
    
            /* Arrow indicator */
            .left .timeline-item-content::after {
                left: auto;
                right: -24px;
                border: medium solid $black;
                border-width: 12px 12px 12px 12px;
                border-color: transparent transparent transparent $black;
                }
            }
    
            .timeline::before {
                left: 50%;
            }
    }
}

@media (min-width: 1080px) {
    header .header-content h1 {
        font-size: 2.5em;
    }

   .intro-section {
        .intro-wrapper {
            position: absolute;
            top: -70px;
            left: 75px;
            padding: 30px;
            z-index: 1; // z-index aufgrund des ::before pseudo-elements

            .intro-heading h1 { 
                font-size: 2.5em; 
                background: none; 
                color: $black; 
                padding: 0;
            }

            .intro-content {
                z-index: 1; // z-index aufgrund des ::before pseudo-elements
                position: relative; // muss gesetzt werden, damit z-index greift
            }
        }

        .intro-wrapper::before {
            content: '';
            width: 350px;
            height: 300px;
            background: $dark-white;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: 0;
        }
    }

    .cv-section {
        .personal-image {
            height: 200px;
            width: 200px;
        }

        .contact .contact-btn { font-size: 1em; }

        .timeline .timeline-item .timeline-item-content { padding: 20px 30px; }
    }

    .blog-section {
        padding: 100px 0;

        .blog {
            flex-direction: row;
    
            .blog-item {
                margin: 0 5px;
            }
        }
    }
}

@media (min-width: 1200px) {
    header {
        padding-left: 150px;
        padding-right: 150px;
    }

    .tech-section .splide .tech-list .tech-item { height: 90px; }
}

@media (min-width: 1540px) { 
    header {
        padding-left: 200px;
        padding-right: 200px;

        .header-content h1 { font-size: 2.75em; }
    }

    .intro-section {
        .intro-wrapper {
            position: absolute;
            top: -70px;
            left: 100px;
            padding: 30px 50px;
        }

        .intro-wrapper::before { width: 400px; }
    }

    .cv-section .personal-image {
        height: 250px;
        width: 250px;
        right: 150px;
    }

    .tech-section .splide .tech-list .tech-item { height: 100px; }
}