/* GLOBAL STYLES */

/* Library-related CSS as .scss */

/* Include CSS for each view */
@use '_index.scss';
// @use '_about.scss';
@import 'utility/_variables.scss';

/* Include fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&display=swap');


/* MOBILE STYLES FIRST */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    height: 100%;
    min-width: 300px;
    background: $light-gray;
    position: relative;
}

li { list-style: none; }
a { text-decoration: none; }
input, button, textarea {
    outline: none;
    border: none;
}

section {
    padding: 100px 30px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;

    // Styling of active navigation components
    .active-nav-item {
        background: $dark-cyan;
        border-bottom: 2px solid $cyan;

        a {
            color: $cyan;
        }
    }

    ul {
        position: relative;
        top: 100px;
        left: 0;

        li {
            display: block;
            padding: 20px;
    
            a {
                color: $white;
                font-size: 14px;
                font-weight: bold;
                transition: color 0.3s ease-in-out;
            }
    
            a:hover { color: $cyan; }
        }
    }
}

.mobile-nav-toggler {
    position: absolute;
    top: 25px;
    left: 20px;
    cursor: pointer;
    z-index: 999;

    .mobile-nav-line { 
        height: 2px; 
        background: $dark-white; 
        margin: 6px 0;
        transition: all 0.4s ease;
    }

    .first { width: 25px; }
    .second { width: 15px; }
}

.mobile-nav-active {
    .first { 
        transform: rotate(45deg);
    }
    .second { 
        width: 25px!important;
        transform: rotate(-45deg) translateX(5px) translateY(-5px);
    }
}

.content {
    height: 100%;
    background: $white;
}

.container {
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
}

.highlighted { color: $cyan; }

.main-heading {
    margin-bottom: 60px;

    span { 
        font-size: 0.9em; 
        z-index: 2; 
        position: relative;
    }

    h1 {
        font-size: 1.5em;
        z-index: 1;
        position: relative;
    }

    // Farbiger Kreis vor der Headline
    h1::before {
        content: '';
        height: 45px;
        width: 45px;
        border-radius: 100%;
        background: $cyan;
        position: absolute;
        z-index: -1;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    // Unterstrich zur Headline
    h1::after {
        content: '';
        height: 3px;
        width: 40px;
        position: absolute;
        background: $black;
        bottom: -25px;
        left: 0;
    }
}

.typewriter {
    position: relative;
}

.typewriter::after {
    content: '';
    border-right: 2px solid;
    border-color: inherit;
    animation: cursor 1s step-start 0s infinite;
    margin-left: 4px;
}

.scroll-down-indicator {
    position: absolute;
    top: calc(100% - 50px);
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translateX(-50%) rotate(45deg);

    span {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-right: 2px solid $dark-white;
        border-bottom: 2px solid $dark-white;
        animation: scrollIndicator 1.5s linear infinite;
        opacity: 0;
    }

    span:nth-child(1) { 
        transform: translate(-10px, -10px); 
        animation-delay: -0.4s;
    }
    span:nth-child(2) { 
        transform: translate(0,0); 
        animation-delay: -0.2s;
    }
    span:nth-child(3) { 
        transform: translate(10px, 10px); 
        animation-delay: 0s;
    }
}

footer {
    width: 100%;
    background: rgba(0,0,0,1);
    padding: 25px 0;
    position: relative;

    .footer-seperator { 
        width: 75%;
        max-width: 750px;
        margin: 20px auto;
        border-color: #202020;
    }

    .footer-socials {
        text-align: center;
        color: $white;

        h3 { margin-bottom: 10px; }

        a {
            color: $cyan;
            margin: 0 15px;
        }
    }

    .footer-information {
        text-align: center;
        color: $white;
        
        p { font-size: 0.8em; }
        a { font-size: 0.7em; color: $white; }
    }
}

/* ========================================================= */
/*                      ANIMATIONS                           */
/* ========================================================= */
@keyframes scrollIndicator {
    0% {
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25% {
        top: 0;
        left: 0;
        opacity: 1;
    }
    100% {
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}

/* Cursor-like animation for the Typewriter effect */
@keyframes cursor {
    50% {
        opacity: 0.0
    }
}


/* ========================================================= */
/*                      MEDIA QUERIES                        */
/* ========================================================= */

@media (min-width: 480px) {
    section {
        padding-left: 50px;
        padding-right: 50px;
    }

    .main-heading h1 { font-size: 1.75em; }
}

@media (min-width: 768px) {
    body {
        margin: 20px;
    }

    header {
        padding-top: 0;

        // Mobile Navigation ausschalten, normale aktivieren
        nav {
            display: block;
            position: static;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            background: none;
            width: auto;
            height: auto;

            ul {
                top: auto;
                left: auto;

                li { display: inline-block; }
            }
        }
    }

    .mobile-nav-toggler { display: none; }

    .intro-section .intro-wrapper .intro-content .interests-list li {
        display: inline-block;
    }
}

@media (min-width: 1080px) {
    .container { width: 90%; }

    section {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (min-width: 1200px) {
    .container { width: 80%; }
}

@media (min-width: 1540px) { 
    .container { width: 75%; }

    .main-heading h1 { font-size: 2em; }

    section {
        padding-left: 200px;
        padding-right: 200px;
    }
}